body{background: white; font-size: 16px;font-family: 'Montserrat', sans-serif;;	text-align: center;	margin: 0;    text-shadow: none;  padding: 0;}
 
h1{font-family: 'Montserrat', sans-serif; ;color: black;font-size: 40px}
 
h2 {font-family: 'Montserrat', sans-serif;;color: black;font-weight: lighter;font-size: 24px;text-shadow: none;}
 
a {color : #61647E;text-shadow: none}
a:hover {text-decoration: none; color : #61647E;; color: #8093F1}
 
img {z-index: 1}
 
 
#navbar{z-index: 2;background: white; padding: 16px; text-align: right}
.navbarlogo {margin-top: -8px;  ;z-index: 3; margin-left : 40px; vertical-align: top; float:left;}
.list-inline{color : #61647E;margin-right: 32px; padding-top: 16px; font-weight: 150;font-size: 18px;line-height: 1.5}
.mail{font-family: 'Montserrat', sans-serif;color : #61647E;}
.mail:hover {text-decoration: none; color : #9396B2;transition: all 0.2s linear}


#solution {background: white;margin-right: 0px;width: 100%;padding: 32px}
#solution h1 {font-size: 48px;font-weight: bolder;padding-bottom: 8px;margin-top: 80px}
#solution h2 {color : #61647E;font-size: 28px;font-weight: 150;}

.box{;padding: 32px; ;text-align: left;width:100%;}
.col-xs-12 {  flex-basis: 50%;}
.col-sm-6 {  flex-basis: 50%;}
.col-md-6 {  flex-basis: 50%;}


#subscribe {background: white;margin-right: 0px;width: 100%;padding: 0px}
#subscribe h1 {font-size: 44px;font-weight: bolder;padding-bottom: 8px;margin-top: 80px}
#subscribe h2 {color : #61647E;font-size: 24px;font-weight: 150;}

#mc_embed_signup{background: #D4DCFA;border: 0; border-radius: 1;; clear:left; font:14px ; padding-bottom: 8px ; width: auto;}
#mc-embedded-subscribe-form{background: #D4DCFA;border: 0; border-radius: 1;}
#mc_embed_signup_scroll{background: #D4DCFA;border: 0; border-radius: 1;}
.email {color : #647DDA;background :#D4DCFA ;padding-left: 12px;;border: 0;width: 200px}

.button{color : #485BA2;font-weight: bold;border: 0; border-radius: 1;background : #8B9DE4; padding-left: 16px;padding-right: 16px}
.button:hover{background: linear-gradient(to right, #B0BDED, #B8B2FF);transition: all .3s ease-out }

#footer{margin-bottom: 32px;text-align: right}
.bottom_logo {;z-index: 3; margin-left : 40px; vertical-align: top; float:left;}
.social{font-family: 'Montserrat', sans-serif;color : #61647E;font-size: 16px}
.footnote{font-family: 'Montserrat', sans-serif;color : #61647E;font-size: 16px}


 .social:hover {text-decoration: none; color : #9396B2;transition: all 0.2s linear}
.footnote:hover {text-decoration: none; color : #9396B2;transition: all 0.2s linear}

 

